* {
  margin: 0;
  padding: 0;
  border: 0.5px solid green;
}

button {
  cursor: pointer;
}

.hidden-dev {
  display: none;
}

.App {
  position: relative;
}
.App header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.5vh 2vw;
  font-size: 22.4px;
}
.App header .tools {
  margin-right: 2vw;
  display: flex;
  align-items: center;
}
.App header .tools div, .App header .tools i {
  cursor: pointer;
}
.App header .tools .theme-selector-toggle {
  margin-right: 3vw;
}
.App header .tools .theme-selector-toggle .arrow {
  font-size: 16px;
}
.App header .tools .burger {
  font-size: 28px;
}
.App header nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  text-align: center;
  font-size: 20px;
  padding: 1vh 2vw;
}
.App header nav a {
  text-decoration: none;
}
.App header nav.hidden {
  display: none;
}
.App .mobile-nav-wrap {
  height: 4.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.App .direct-links {
  max-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.App .direct-links i {
  cursor: pointer;
  margin: 0 5.6px;
  font-size: 24px;
}
.App .page-progress-wrap .progressBar-wrap {
  width: 50vw;
  height: 6px;
  background-color: gray;
  position: fixed;
  bottom: 5.75vh;
  left: 3vw;
}
.App .page-progress-wrap .progressBar-wrap .progressBar {
  width: 0;
  height: 6px;
  background-color: blue;
}
.App .page-progress-wrap .page-progress-indicators {
  height: 4.5vh;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 3vw;
  font-size: 21.6px;
}
.App .page-progress-wrap .page-progress-indicators a {
  text-decoration: none;
}
.App .section-title {
  text-transform: uppercase;
  text-align: center;
  padding: 2vh 0;
  font-size: 40px;
}
.App .landing-wrap {
  height: 95.5vh;
}
.App .landing-wrap .landing-intro-wrap {
  width: 85vw;
  margin: auto;
  margin-top: 15vh;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body {
  margin: 4vh 5vw;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
  margin: 0 3vw;
  text-align: center;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body ul {
  width: 70%;
  margin: auto;
  margin-top: 3vh;
  direction: rtl;
  text-align: left;
  font-size: 22.4px;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar {
  font-style: italic;
  margin: 7.5vh auto 2.5vh auto;
}
.App .landing-wrap #leave-landing-button {
  width: 28px;
  margin-left: calc(50vw - 28px);
  margin-top: 10vh;
  font-size: 26.4px;
}
.App .about-me-wrap {
  margin: 10vh auto;
  height: 95.5vh;
}
.App .about-me-wrap .about-me-description {
  width: 85%;
  margin-top: 4vh;
  margin-right: 5vw;
  margin-left: auto;
  padding: 5vh 2vw 7.5vh 2vw;
  border-color: red;
  text-align: right;
}
.App .about-me-wrap .about-me-description .title {
  font-size: 24px;
  margin-bottom: 1.5vh;
}
.App .about-me-wrap .about-me-description .bio {
  font-size: 21.6px;
  width: 105%;
  position: relative;
  right: 5%;
}
.App .about-me-wrap .about-me-pics {
  width: 85%;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.App .about-me-wrap .about-me-pics img {
  width: 50vw;
  height: auto;
}
.App .about-me-wrap .about-me-pics img:first-child {
  align-self: flex-end;
  transform: rotate(6.5deg);
}
.App .about-me-wrap .about-me-pics img:nth-child(2) {
  transform: rotate(-5.5deg);
  position: relative;
  bottom: 5vh;
}
.App .services-wrap {
  margin: 10vh auto;
}
.App .services-wrap .services-gallery-wrap {
  display: flex;
  overflow-x: scroll;
}
.App .services-wrap .services-gallery-wrap .service-wrap {
  flex-shrink: 0;
  height: 71.5vh;
  width: 72.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 8.5vh;
  background-size: cover;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap {
  width: 80%;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .number {
  border: none;
  font-size: 32px;
  text-align: right;
  position: relative;
  top: 21.6px;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .title {
  text-transform: capitalize;
  font-size: 24px;
  padding: 12px 0;
  padding-right: 24px;
  text-align: right;
}
.App .services-wrap .services-gallery-wrap .service-wrap:nth-child(2n) {
  background-color: red;
}
.App .services-wrap .services-gallery-wrap .service-wrap:nth-child(2n-1) {
  background-color: yellow;
}
.App .services-wrap .services-reach-out {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw;
}
.App .services-wrap .services-reach-out p {
  font-size: 18.4px;
  text-align: center;
}
.App .services-wrap .services-reach-out .contact-btn {
  flex-basis: 60%;
  font-size: 17.6px;
  border-radius: 7.2px;
  padding-top: 5.6px;
  padding-bottom: 5.6px;
}
.App .services-wrap .services-reach-out .contact-btn .arrow {
  font-size: 12px;
}
.App .gallery-wrap {
  width: 90vw;
  height: 50vh;
  margin: 10vh auto;
}
.App .gallery-wrap .gallery-gate {
  position: relative;
  bottom: 5vw;
  display: flex;
  flex-direction: column;
}
.App .gallery-wrap .gallery-gate .row-img {
  display: flex;
  justify-content: space-between;
}
.App .gallery-wrap .gallery-gate .row-img img {
  width: 35vw;
}
.App .gallery-wrap .gallery-gate .row-img:first-child img:first-child {
  transform: rotate(-5deg);
}
.App .gallery-wrap .gallery-gate .row-img:first-child img:nth-child(2) {
  transform: rotate(7.5deg);
}
.App .gallery-wrap .gallery-gate .row-img:nth-child(3) img:first-child {
  transform: rotate(5deg);
}
.App .gallery-wrap .gallery-gate .row-img:nth-child(3) img:nth-child(2) {
  transform: rotate(-7.5deg);
}
.App .gallery-wrap .gallery-gate .row-btn {
  text-align: center;
}
.App .gallery-wrap .gallery-gate .row-btn button {
  font-size: 24px;
  padding: 12px 28px;
  position: relative;
  z-index: 999;
}
.App .contact-wrap {
  margin: 10vh auto;
}
.App .contact-wrap form {
  padding: 16px 4px;
}
.App .contact-wrap form .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0;
}
.App .contact-wrap form .row .input-wrap {
  display: flex;
  flex-direction: column;
}
.App .contact-wrap form .row .input-wrap label {
  font-size: 20px;
  margin-left: 12px;
}
.App .contact-wrap form .row .input-wrap input, .App .contact-wrap form .row .input-wrap textarea {
  font-size: 20px;
  padding: 7.2px 5%;
}
.App .contact-wrap form .row.row-name p {
  margin: 0 8px;
  font-size: 20px;
  text-align: right;
}
.App .contact-wrap form .row.row-method .input-wrap input {
  width: 90%;
}
.App .contact-wrap form .row.row-method p {
  font-size: 21.6px;
  margin: 0 20px;
}
.App .contact-wrap form .row.row-inquiry {
  width: 100%;
}
.App .contact-wrap form .row.row-inquiry .textarea-wrap {
  width: 100%;
}
.App .contact-wrap form .row.row-inquiry .textarea-wrap textarea {
  height: 80px;
  resize: none;
}
.App .contact-wrap form .row.row-submit {
  justify-content: flex-end;
}
.App .contact-wrap form .row.row-submit button {
  font-size: 20px;
  width: 160px;
  padding: 5.6px 0;
  border-radius: 16px;
}
.App .contact-wrap .contact-direct {
  padding: 16px 20px;
}
.App .contact-wrap .contact-direct .method {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.App .contact-wrap .contact-direct .method i {
  font-size: 48px;
}
.App .contact-wrap .contact-direct .method a {
  text-decoration: none;
  margin-left: 12px;
  font-size: 20px;
}
.App .contact-wrap .contact-direct .links {
  width: 90%;
  margin: auto;
  margin-top: 24px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}
.App .contact-wrap .contact-direct .links i {
  font-size: 44px;
  margin: 0 8px;
}

/*# sourceMappingURL=layout.css.map */
