
* {
  margin: 0;
  padding: 0;
  z-index: 1;
  // border: 1px solid transparent;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hidden-dev {
  display: none;
}

body {
  width:100%;
  overflow-x:hidden;
}

@mixin nonDraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  @include nonDraggable();
}

@mixin mobileView($fontSize) {
  $footer: 4.5vh;

  #root {
    min-height: 100vh;
  }

  .hero {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-size: cover;
  }

  .App {
    // &:last-child {
    //   padding-bottom: $footer;
    // }
    overflow-x: hidden;

    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      // position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      padding: 1.5vh 2vw;
      font-size: $fontSize * 1.4;

      .tools {
        margin-right: 2vw;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2000;

        div, i {
          cursor: pointer;
        }

        .theme-selector-toggle {
          margin-right: 3vw;
          font-size: $fontSize * 1;

          .arrow {
            margin-left: $fontSize * 0.1;
            font-size: $fontSize * 0.8;
          }

          position: relative;
          .theme-option-list {
            display: none;
            font-size: $fontSize * 1;
            width: $fontSize * 6;
            padding: 0 $fontSize * 0.25;
            border-radius: $fontSize * 0.5;
            list-style-type: none;

            position: absolute;
            // left: 0;
            right: 0;

            li {
              margin: 0.5vh $fontSize * 0.25;
              padding: 0.15vh 0;
            }
          }

          &.dropped {
            .theme-option-list {
              display: block;
            }
          }
        }

        .burger {
          font-size: $fontSize * 1.26;
        }
      }

      nav {
        display: flex;
        justify-content: space-around;
        flex-basis: 100%;
        text-align: center;
        font-size: $fontSize * 1.05;
        padding: 1vh 2vw 0 2vw;

        transition: 0.25s opacity linear;
        transition-delay: 0.25s;
        opacity: 1;

        a {
          text-decoration: none;
        }
      }

      max-height: calc(5vh + $fontSize * 1.5);
      transition: max-height 0.25s ease-in;
      &.hidden {
        max-height: 3.5vh;
        transition: max-height 0.25s ease-out;

        nav {
          transition: 0.1s opacity linear;
          opacity: 0;
        }
      }
    }

    // .mobile-nav-wrap {
    //   height: $footer;
    //   width: 100%;
    //   position: absolute;
    //   bottom: 0;
    // }

    .direct-links {
      display: none;
      z-index: 1000;
      max-width: 20vw;
      // display: flex;
      justify-content: center;
      align-items: center;
      padding: calc(2.25vh - $fontSize * 0.75) $fontSize;

      position: absolute;
      bottom: 0;
      right: 0;

      i {
        cursor: pointer;
        margin: 0 $fontSize * 0.35;
        font-size: $fontSize * 1.4;
      }
    }

    .page-progress-wrap {
      display: none;

      z-index: 1000;

      .progressBar-wrap {
        display: none;
        width: 50vw;
        height: 6px;
        position: fixed;
        bottom: 5.75vh;
        left: 3vw;

        .progressBar {
          width: 16.67%;
          height: 6px;
        }
      }

      .page-progress-indicators {
        display: none;
        height: 4.5vh;
        width: 50vw;
        max-width: 250px;
        // display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 3vw;

        font-size: $fontSize * 1.05;

        a {
          text-decoration: none;
        }
      }
    }

    .fixed-address-bar {
      display: none;
    }

    .next-page-link {
      display: none;
      position: absolute;
      bottom: 5%;
      left: calc(50% - $fontSize * 1);
      font-size: $fontSize * 2.4;

      transform: scale(1);
      transition: transform 0.75s ease-out;

      &:hover {
        transform: scale(1.25);
        transition: transform 0.75s ease-in;
      }
    }

    .bottom-gradient {
      position: fixed;
      z-index: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 35%;
      background: linear-gradient(180deg, rgba(60,59,60,0) 6%, rgba(0,0,0,0.8127626050420168) 100%);
    }

    // section title
    .section-title {
      max-height: 6vh;
      height: 3vh;
      text-transform: uppercase;
      text-align: center;
      padding: 2vh 0;
      padding-top: 8vh;
      font-size: $fontSize * 1.5;
    }

    // landing
    .landing-wrap {
      margin: auto;

      // position: absolute;
      // height: 50vh;
      // top: 25vh;
      // bottom: 25vh;
      // left: 0;
      // right: 0;

      .landing-intro-wrap {
        width: 85vw;
        margin: auto;
        padding: 4vh 0;

        .photo-wrap {
          display: none;
        }

        .landing-intro-body {
          margin: 0 5vw;
          padding: 2.5vh 1vw 0 1vw;

          h2 {
            position: relative;
            z-index: 999;

            margin: 0 3vw;
            text-align: center;
            justify-content: center;

            display: flex;
            flex-wrap: wrap;

            .line {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              .letter {
                user-select: none;
                display: inline-block;
                transform: scale(1);
                transition: transform 0.1s ease-out;
                position: relative;
                z-index: 999;

                &:hover {
                  transform: scale(1.6);
                  transition: transform 0.25s ease-out;
                }

                &.enlarging {
                  animation: enlargeLetter 0.5s ease-in-out;

                  @keyframes enlargeLetter {
                    from {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(1.6);
                    }
                    to {
                      transform: scale(1);
                    }
                  }
                }
              }
            }
          }

          ul {
            width: 60%;
            margin: auto;
            margin-top: 3vh;
            direction: rtl;
            text-align: left;
            font-size: $fontSize * 1.15;
            line-height: 1.5;
          }

          .address-bar {
            font-size: $fontSize * 0.975;
            text-align: center;
            font-style: italic;
            margin: 7.5vh auto 2.5vh auto;

            a {
              text-decoration: none;
            }
          }
        }
      }

      #leave-landing-button {
        width: $fontSize * 1.75;
        margin-left: calc(50vw - $fontSize * 1.75);
        margin-top: 10vh;
        font-size: $fontSize * 1.65;
      }
    }

    //about me
    .about-me-wrap {
      margin: 0 1.5vw;
      margin-bottom: 2vh;
      // height: 100vh - $footer;

      .about-me-description {
        // width: 85%;
        width: 83%;
        margin-top: 4vh;
        margin-right: 5vw;
        margin-left: auto;
        padding: 5vh 2vw 7.5vh 2vw;
        text-align: center;

        .title {
          font-size: $fontSize * 1.45;
          margin-bottom: 1.5vh;
        }

        .bio {
          line-height: 1.5;
          font-size: $fontSize * 1.35;
          // width: 105%;
          // position: relative;
          // right: 5%;
        }
      }

      .about-me-pics {
        width: 85%;
        max-width: 700px;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;

        .img-wrap{
          box-shadow: -6px 4px 2em 0.5em black;
          width: 50vw;
          max-width: 350px;

          img {
            width: 50vw;
            max-width: 350px;
            height: auto;

            &:first-child {
              transform: rotate(2deg);
            }

            &:nth-child(2) {
              transform: rotate(-1deg);
            }
          }

          &:first-child {
            align-self: flex-end;
            transform: rotate(6.5deg);
          }

          &:nth-child(2) {
            transform: rotate(-5.5deg);
            position: relative;
            bottom: 5vh;
          }

          &::after {
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.19) inset;
            content: '';
            display: block;
            height: 105%;
            position: absolute;
            top: -3.5%;
            left: -2.5%;
            width: 105%;
          }
        }

      }
    }

    // services
    .services-wrap {
      margin: 0 auto;

      .services-gallery-wrap {
        max-width: 100vw;
        // cursor: none;
        display: flex;
        overflow-x: overlay;
        &::-webkit-scrollbar {
          height: $fontSize * 0.5;
        }
        // &::-webkit-scrollbar {
        //   display: none;  /* Safari and Chrome */
        // }
        // overflow: hidden;

        .service-wrap {
          overflow: hidden;
          flex-shrink: 0;
          // height: 74.5vh;
          height: 87vh;
          max-height: 78.5vh;
          width: 85.5vw;

          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-bottom: 8.5vh;

          .pulse-dot {
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 2.5%;
            z-index: 999;
          }

          .service-background {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            width: 100%;
            transition: width 1s ease-in-out;
          }

          .title-wrap {
            z-index: 100;
            transition: opacity 0.25s ease-in, visibility 1s ease-in;

            width: 80%;

            .number {
              font-size: $fontSize * 2.3;
              margin-right: $fontSize * 0.5;
              text-align: right;
              position: relative;
              top: $fontSize * 1.35;
            }

            .title {
              text-transform: capitalize;
              font-size: $fontSize * 1.55;
              padding: $fontSize * 0.75 0;
              padding-right: $fontSize * 1.5;
              text-align: right;
              max-width: $fontSize * 15.62 /* 250px (16px) */;
              margin-left: auto;
            }
          }

          position: relative;
          .service-description {
            overflow-y: auto;
            z-index: 100;
            transition: opacity 0.25s ease-out, transform 0.5s ease-out;
            transform: scale(0.85);
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 20%;
            bottom: 20%;
            left: 5%;
            right: 5%;

            // padding-top: 25%;
            padding: 15% 2% 15% 2%;
            text-align: center;

            .title {
              font-size: $fontSize * 1.55;
            }

            .description {
              margin-top: 5%;
              font-size: $fontSize * 1.25;
              padding: 0 3%;
            }
          }

          &:hover {
            .service-background {
              // &:nth-child(2n - 1) {
              //   width: 105%;
              // }
              // &:nth-child(2n) {
              //   width: 95%;
              // }
              width: 102.5%;

              transition: width 1s ease-in-out;
            }

            .title-wrap {
              transition: opacity 0.25s ease-out, visibility 1s ease-out;
              visibility: hidden;
              opacity: 0;
            }

            .service-description {
              transition: visibility 1s ease-in, opacity 0.75s ease-in, transform 0.5s ease-in;
              transform: scale(1);
              visibility: initial!important;
              opacity: 1;
            }
          }

          &:last-child {
            .title-wrap {
              display: none;
            }

            .service-description {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
            }

            &:hover {
              .service-background {
                width: 100%;
                height: 100%;
              }
            }
          }

          // &:nth-child(2n) {
          //   background-color: red;
          // }
          // &:nth-child(2n - 1) {
          //   background-color: yellow;
          // }
        }

        /* Width */
        &::-webkit-scrollbar {
          width: 50%;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background-color: #32323283;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, 0.663);
          border: 1px solid #323232a3;
          border-radius: $fontSize * 0.25;
        }
      }

      .services-reach-out {
        // margin-bottom: $footer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 2vw;

        p {
          font-size: $fontSize * 1.15;
          text-align: center;
        }

        .contact-btn {
          flex-basis: 70%;
          font-size: $fontSize * 1.1;
          border-radius: $fontSize * 1;
          padding-top: $fontSize * 0.55;
          padding-bottom: $fontSize * 0.55;

          span {
            margin: 0!important;
            margin-right: $fontSize * 0.25!important;
          }

          .arrow {
            font-size: $fontSize * 0.75;
          }
        }
      }
    }

    // gallery
    .gallery-wrap {
      width: 90vw;
      margin: auto;

      .gallery-gate {
        position: relative;
        bottom: 1vh;

        display: flex;
        flex-direction: column;

        .row-img {
          display: flex;
          justify-content: space-between;
          position: relative;

          div {
            height: fit-content;

            img {
              width: 35vw;

            }
          }

          &:first-child {
            div {
              &:first-child {
                transform: rotate(-5deg);
              }
              &:nth-child(2) {
                position: relative;
                top: 5vw;
                transform: rotate(9.5deg);
              }
            }
          }

          &:nth-child(3) {
            margin-top: 2vh;

            div {
              &:first-child {
                transform: rotate(5deg);
              }
              &:nth-child(2) {
                transform: rotate(-7.5deg);
              }
            }
          }
        }

        .row-btn {
          text-align: center;
          margin: 1.5vh 0;

          button {
            font-size: $fontSize * 1.5;
            padding: $fontSize * 0.75 $fontSize * 1.75;

            position: relative;
            z-index: 999;
          }
        }
      }

      .wrap {
        display: flex;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10001;

        >video {
          display: none;
          flex-basis: 50%;
          height: 100vh;
          width: 30vw;
          opacity: 0.75;
          object-fit: cover;
        }

        .expanded-gallery {
          background-color: rgba(11, 11, 11, 0.855);
          padding: 1vh 3vw;
          width: 100%;
          min-height: 98vh;

          .carousel-root {
            margin-top: 15%;

            .slider {
              .slide {
                margin: auto;

                div {
                  cursor: zoom-in!important;
                  img, video {
                    max-height: 45vh;
                    // max-width: 60vw;
                    object-fit: contain;
                  }

                  video {
                    width: 90%;
                  }
                }
              }
            }
          }

          .ReactGridGallery {
            height: 30vh;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar-track {
              border-radius: $fontSize;
            }

            >div {
              // width: 105%;
              // position: relative;
              // right: 1%;
              justify-content: center;
            }

            .ReactGridGallery_tile {
              margin: 0.5vh $fontSize * 0.25!important;
              max-width: $fontSize * 5!important;
              max-height: $fontSize * 5!important;

              img {
                margin: 0!important;
                max-width: $fontSize * 5!important;
                max-height: $fontSize * 5!important;
                object-fit: cover!important;
                cursor: none!important;
              }

              .ReactGridGallery_tile-viewport {
                height: 100%!important;
                width: 100%!important;
              }

              &:nth-child(2n - 1) {
                // .ReactGridGallery_tile-viewport {
                //   height: 100%!important;
                //   overflow: hidden!important;

                //   img {
                //     height: calc(100% + 4px)!important;
                //   }
                // }
              }
            }
          }

          #collapse-gallery {
            font-size: $fontSize * 1.75;
            position: relative;
            right: 1.5vw;
            margin-bottom: 1.5vh;
          }
        }
      }



    }

    // contact
    .contact-wrap {
      margin: auto;
      width: 90%;

      form {
        padding: $fontSize $fontSize * 0.75;
        width: 90%;
        margin: auto;
        margin-top: 2vh!important;

        .row {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: $fontSize * 0.75 0;

          .input-wrap {
            display: flex;
            flex-direction: column;

            label {
              font-size: $fontSize * 1.1;
              margin-left: $fontSize * 0.75;
            }

            input, textarea {
              font-size: $fontSize * 1.1;
              padding: $fontSize * 0.45 5%;
            }
          }

          &.row-name {
            flex-direction: column-reverse;

            p {
              width: 95%;
              margin: 0 $fontSize * 0.5;
              font-size: $fontSize * 1.25;
              text-align: right;
            }
            .input-wrap {
              width: 100%;
            }
          }

          &.row-method {
            align-items: flex-end;
            .input-wrap {
              input {
                width: calc(100% - 5% * 2);
              }
            }

            p {
              font-size: $fontSize * 1.35;
              margin: 0 $fontSize * 1.25;
            }
          }

          &.row-inquiry {
            width: 100%;
            .textarea-wrap {
              width: 100%;
              textarea {
                // width: 100%;
                height: $fontSize * 5;
                resize: none;
              }
            }
          }

          &.row-submit {
            margin-top: $fontSize;
            justify-content: center;
            button {
              font-size: $fontSize * 1.15;
              width: $fontSize * 10;
              padding: $fontSize * 0.35 0;
              border-radius: $fontSize;
            }
          }
        }
      }

      .contact-direct {
        padding: $fontSize $fontSize * 1.25;

        .method {
          display: flex;
          align-items: center;
          margin: $fontSize 0;

          i {
            font-size: $fontSize * 3;
          }

          a {
            text-decoration: none;
            margin-left: $fontSize * 1.25;
            font-size: $fontSize * 1.25;
            min-width: 40%;
            word-break: break-word;
          }
        }

        .links {
          width: 90%;
          margin: auto;
          margin-top: $fontSize * 1.5;
          padding: $fontSize * 0.75 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: $fontSize * 2;

          i {
            font-size: $fontSize * 2.75;
            margin: 0 $fontSize * 0.5;
          }
        }
      }
    }

  }
}

@mixin mediumView($fontSize) {
  .next-page-link {
    display: initial!important;
  }

  header {
    height: 4.3vh!important;
    max-height: 50px!important;
    min-height: 40px;

    .tools {
      margin-right: 0!important;
      margin-left: auto;

      .theme-selector-toggle {
        margin-right: 0!important;
        font-size: $fontSize * 1.1!important;

        .arrow {
          font-size: $fontSize * 0.5!important;
        }
      }

      .burger {
        display: none;
      }
    }

    nav {
      flex-basis: initial!important;

      a {
        margin: 0 $fontSize * 0.45;
        font-size: $fontSize * 1.05!important;
      }

    }

    &.hidden {
      max-height: initial!important;

      nav {
        opacity: 1!important;
      }
    }
  }

  // .mobile-nav-wrap {
  //   display: none!important;
  // }

  .direct-links {
    display: flex!important;
    max-width: 5vw!important;
    flex-direction: column;
    padding: $fontSize * 0.5 $fontSize * 0.55!important;

    bottom: initial!important;
    right: initial!important;
    left: 0;
    top: 25vh;

    i {
      margin: $fontSize * 0.35 0!important;
      font-size: $fontSize * 1.25!important;

      &.fa-instagram {
        font-size: $fontSize * 1.4!important;
      }
    }
  }

  .page-progress-wrap {
    display: initial!important;

    .progressBar-wrap {
      display: initial!important;
      width: 20vh!important;
      transform: rotate(90deg);
      bottom: initial!important;
      left: initial!important;
      right: calc(1vw - 10vh);
      top: 30vh;
    }

    .page-progress-indicators {
      display: flex!important;
      mix-blend-mode: difference;
      height: 19.5vh!important;
      width: initial!important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      bottom: initial!important;
      left: initial!important;
      right: 2vw;
      top: 20.3vh;

      font-size: $fontSize * 1.05!important;

      a {
        text-decoration: none;
      }
    }
  }

  .fixed-address-bar {
    display: initial!important;

    mix-blend-mode: difference;
    margin: 0!important;
    position: fixed;
    z-index: 1000;
    bottom: 0.5vh;
    left: 1vw;
    font-style: italic;
  }

  // section title
  .section-title {
    height: 3.5vh!important;
    font-size: $fontSize * 2.25!important;
    padding-top: 9.5vh!important;
  }

  // landing
  .landing-wrap {
    position: initial!important;
    height: initial!important;

    .landing-intro-wrap {
      .landing-intro-body {

        h2 {
          width: 75%;
          margin: auto!important;
        }

        ul {
          width: 40%!important;
          margin-bottom: 4vh!important;
          text-align: center!important;
          font-size: $fontSize * 1.25!important;
        }

        .address-bar {
          display: none;

          margin: 0!important;
          position: fixed;
          z-index: 1000;
          bottom: 0.5vh;
          left: 1vw;
        }
      }
    }

    #leave-landing-button {
      width: $fontSize * 1.85!important;
      margin-left: calc(50vw - $fontSize * 1.85)!important;
      margin-top: 15vh!important;
      font-size: $fontSize * 1.75!important;
    }
  }

  //about me
  .about-me-wrap {
    // margin-top: 0!important;
    // height: 100vh - $footer;

    .about-me-pics {
      width: 75%!important;

      .img-wrap {
        width: 35vw!important;

        img {
          width: 35vw!important;
        }
      }
    }
  }

  // services
  .services-wrap {
    margin-top: 0!important;
    height: 92.7vh!important;

    .services-gallery-wrap {
      // overflow: initial!important;
      // overflow-y: overlay!important;

      .service-wrap {
        height: 76.5vh!important;
        width: 55.5vw!important;
        max-width: 500px;

        .service-description {

          .title {
            font-size: $fontSize * 1.75!important;
          }

          .description {
            font-size: $fontSize * 1.35!important;
          }

        }
      }
    }

    .services-reach-out {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5vh 10vw!important;
      // margin-bottom: 0!important;

      * {
        margin: 0 2vw;
      }

      p {
        font-size: $fontSize * 1.5!important;
        max-width: $fontSize * 18.75 /* 300px (16px) */;
      }

      .contact-btn {
        font-size: $fontSize * 1.45!important;
        padding-top: $fontSize!important;
        padding-bottom: $fontSize!important;

        flex-basis: 50%!important;
        max-width: 250px;
        border-radius: $fontSize * 2!important;

        i {
          margin: 0;
        }

      }
    }
  }

  // gallery
  .gallery-wrap {
    width: 70vw!important;
    // margin-bottom: 20vh!important;
    margin: auto!important;

    .gallery-gate {
      max-width: 775px;
      margin: auto;

      .row-img {

        img {
          max-width: 250px;
        }

        &:first-child {
          img {
            &:first-child {
              transform: rotate(-5deg);
            }
            &:nth-child(2) {
              transform: rotate(7.5deg);
            }
          }
        }

        &:nth-child(3) {
          img {
            &:first-child {
              transform: rotate(5deg);
            }
            &:nth-child(2) {
              transform: rotate(-7.5deg);
            }
          }
        }
      }

      .row-btn {
        button {
          font-size: $fontSize * 1.75!important;
          padding: $fontSize * 1.5 $fontSize * 4!important;
        }
      }
    }

    .wrap {
      video {
        display: initial!important;
      }

      .expanded-gallery {
        // width: 60vw!important;

        .ReactGridGallery_tile {
          max-width: $fontSize * 8!important;
          max-height: $fontSize * 8!important;

          img {
              max-width: $fontSize * 8!important;
              max-height: $fontSize * 8!important;
          }
        }

        .slider {
          width: 50%;
        }
      }
    }
  }

  // contact
  .contact-wrap {
    width: 90vw!important;
    max-width: $fontSize * 68.75!important /* 1100px (16px) */;
    padding: 5vh 0;
    margin: auto!important;
    max-width: $fontSize * 75 /* 1200px */;
    display: flex;
    justify-content: center!important;

    form {
      width: 110%!important;
      max-width: $fontSize * 40.63 /* 650px */;
      padding: 1vh 2vw!important;
      position: relative;
      left: -2vw;

      .row {
        .input-wrap {
          label {
            font-size: $fontSize * 1.1!important;
          }

          input, textarea {
            font-size: $fontSize * 1.1!important;
          }
        }

        &.row-method {
          p {
            font-size: $fontSize * 1.25!important;
          }
        }

        &.row-submit {
          margin-top: 0!important;
          justify-content: flex-end!important;
          button {
            text-align: center;
            font-size: $fontSize * 1.1!important;
            padding: $fontSize * 0.5 0!important;
            margin-top: $fontSize * 1.5;
            width: $fontSize * 10!important;
          }
        }
      }
    }

    .contact-direct {
      margin: auto;

      .method {
        margin-bottom: 3vh!important;
        i {
          font-size: $fontSize * 2.5!important;
        }

        a {
          font-size: $fontSize * 1.35!important;
          word-break: keep-all!important;
        }
      }

      .links {
        border-radius: $fontSize * 5!important;

        i {
          font-size: $fontSize * 2.5!important;
          margin: 0 $fontSize!important;
        }
      }
    }
  }

}

@mixin mainView($fontSize) {
  header {
    position: sticky!important;
    .logo {
      a {
        font-size: $fontSize * 1.75;
      }
    }
  }

  // section title
  .section-title {
    display: none;
  }

  // landing
  .landing-wrap {
    // bookmark
    // margin-right: 0!important;
    .landing-intro-wrap {
      margin-top: 5%!important;
      position: relative;

      // max-height: 40vh;

      .landing-intro-body {
        width: 45vw!important;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h2 {
          width: 90%!important;
          font-size: $fontSize * 2!important;
          margin: 0 1vw!important;
          text-align: right!important;
          justify-content: right!important;

          .line {
            justify-content: right!important;
          }
        }

        ul {
          width: 40%;
          margin: 3.5vh 7.5vw 15% 10%!important;

          text-align: right!important;
          font-size: $fontSize * 1.35!important;
        }

        // .address-bar {
        //   text-align: center;
        //   font-style: italic;
        //   margin: 7.5vh auto 2.5vh auto;

        //   a {
        //     text-decoration: none;
        //   }
        // }
      }

      .photo-wrap {
        position: absolute;
        display: flex!important;

        &.main-theme-landing {
          // PERSON
          // transform: scaleX(-1);
          // right: 1vw;
          // bottom: 0;

          // img {
          //   width: 44vw;
          //   min-width: 450px;
          //   max-width: $fontSize * 38.5 /* 16px * 37.5 = 600px */;
          // }

          // BRUSH
          transform: scaleX(1) rotate(311deg);
          right: -2.5vw;
          bottom: 15vh;

          img {
            width: 50vw;
            min-width: 450px;
            max-width: $fontSize * 40 /* 16px * 37.5 = 600px */;

            transform: scale(1);
            filter: drop-shadow(2px 4px 6px black) contrast(1.15);
            transition: all 1s ease-out;
            &:hover {
              transform: scale(1.05);
              filter: drop-shadow(2px 4px 8px black) contrast(1.15);
            }
          }
        }

        &.light-theme-landing {
          transform: scaleX(1) rotate(9deg);
          right: -2vw;
          bottom: -1vh;

          img {
            width: 39vw;
            min-width: 450px;
            max-width: $fontSize * 38.5 /* 16px * 37.5 = 600px */;

            transform: scale(1);
            filter: drop-shadow(0px 0px 0px transparent);
            transition: all 1s ease-out;
            &:hover {
              transform: scale(1.05);
              filter: drop-shadow(2px 4px 8px white) contrast(1.15);
            }
          }
        }

        &.gold-theme-landing {
          transform: scaleX(-1) rotate(25deg);
          right: 1vw;
          bottom: 10vh;

          img {
            filter: drop-shadow(-4px 11px 19px black) saturate(0.55) contrast(1.15)!important;
            width: 44vw;
            min-width: 450px;
            max-width: $fontSize * 38.5 /* 16px * 37.5 = 600px */;

            transform: scale(1);
            filter: drop-shadow(-4px 11px 19px black) saturate(0.55) contrast(1.15);
            transition: all 1s ease-out;
            &:hover {
              transform: scale(1.05);
              filter: drop-shadow(2px 4px 21px black) saturate(0.55) contrast(1.15);
            }
          }
        }
      }
    }
  }

  //about me
  .about-me-wrap {
    padding: 3vh 2vw!important;
    margin: auto!important;
    // margin-top: 0!important;
    // height: initial!important;
    // max-height: $fontSize * 29.68 /* 16px * 29.68 = 400px */;
    width: 80vw;
    display: flex;
    align-items: center;

    .about-me-description {
      text-align: right!important;
      width: 80%!important;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 9vh!important;
      padding-bottom: 11.5vh!important;

      .title {
        font-size: $fontSize * 1.95!important;
        width: 110%;
        position: relative;
        right: 10%;
      }

      .bio {
        font-size: $fontSize * 1.45!important;
        width: 120%!important;
        position: relative;
        right: 20%!important;
      }
    }

    .about-me-pics {
      width: 100%!important;
      // position: relative;
      // bottom: 3vh;

      .img-wrap {
        width: 23.5vw!important;

          img {
            margin: 1.5vh 0;
            width: 23.5vw!important;
          }
      }

    }
  }

  // services
  .services-wrap {

    .services-gallery-wrap {

      .service-wrap {
        height: 83.7vh!important;
        width: 42.5vw!important;

        .service-description {
          left: 15%!important;
          right: 15%!important;
        }
      }
    }
  }

  // gallery
  .gallery-wrap {
    .gallery-gate {
      .row-img {
        img {
          max-width: 300px!important;
        }
      }
    }
  }

  // contact
  .contact-wrap {
    form {
      .row {
        .input-wrap {
          label {
            font-size: $fontSize * 1.35!important;
          }

          input, textarea {
            font-size: $fontSize * 1.35!important;
          }
        }

        &.row-name {
          flex-direction: row!important;

          p {
            font-size: $fontSize * 1.75!important;
            max-width: $fontSize * 11;
          }
        }

        &.row-method {
          p {
            font-size: $fontSize * 1.45!important;
          }
        }

        &.row-submit {
          button {
            font-size: $fontSize * 1.35!important;
            padding: $fontSize * 0.75 0!important;
            width: $fontSize * 12!important;
          }
        }
      }
    }

    .contact-direct {

      .method {
        i {
          font-size: $fontSize * 3.5!important;
        }

        a {
          font-size: $fontSize * 1.5!important;
        }
      }

      .links {

        i {
          font-size: $fontSize * 3!important;
        }
      }
    }
  }



}

@include mobileView(16px);

@media (min-width: 768px) {
  @include mediumView(16px);
}

@media (min-width: 1000px) {
  body {
    overflow-y: hidden;
  }

  @include mainView(16px);
}

@media (min-width: 1600px) {
  @include mobileView(18px);
  @include mediumView(18px);
  @include mainView(18px);
}