* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hidden-dev {
  display: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#root {
  min-height: 100vh;
}

.App {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.App header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5vh 2vw;
  font-size: 22.4px;
}
.App header .tools {
  margin-right: 2vw;
  display: flex;
  align-items: center;
}
.App header .tools div, .App header .tools i {
  cursor: pointer;
}
.App header .tools .theme-selector-toggle {
  margin-right: 3vw;
  position: relative;
}
.App header .tools .theme-selector-toggle .arrow {
  font-size: 16px;
}
.App header .tools .theme-selector-toggle .theme-option-list {
  display: none;
  font-size: 19.2px;
  width: 96px;
  padding: 0 4px;
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  right: 0;
}
.App header .tools .theme-selector-toggle .theme-option-list li {
  margin: 0.5vh 4px;
  padding: 0.15vh 0;
}
.App header .tools .theme-selector-toggle.dropped .theme-option-list {
  display: block;
}
.App header .tools .burger {
  font-size: 28px;
}
.App header nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  text-align: center;
  font-size: 20px;
  padding: 1vh 2vw;
}
.App header nav a {
  text-decoration: none;
}
.App header nav.hidden {
  display: none;
}
.App .mobile-nav-wrap {
  height: 4.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.App .direct-links {
  z-index: 1000;
  max-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(2.25vh - 12px) 16px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.App .direct-links i {
  cursor: pointer;
  margin: 0 5.6px;
  font-size: 24px;
}
.App .page-progress-wrap {
  z-index: 1000;
}
.App .page-progress-wrap .progressBar-wrap {
  display: none;
  width: 50vw;
  height: 6px;
  position: fixed;
  bottom: 5.75vh;
  left: 3vw;
}
.App .page-progress-wrap .progressBar-wrap .progressBar {
  width: 16.67%;
  height: 6px;
}
.App .page-progress-wrap .page-progress-indicators {
  height: 4.5vh;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 3vw;
  font-size: 21.6px;
}
.App .page-progress-wrap .page-progress-indicators a {
  text-decoration: none;
}
.App .fixed-address-bar {
  display: none;
}
.App .next-page-link {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 20px);
  font-size: 40px;
  transform: scale(1);
  transition: transform 0.75s ease-out;
}
.App .next-page-link:hover {
  transform: scale(1.25);
  transition: transform 0.75s ease-in;
}
.App .bottom-gradient {
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%;
  background: linear-gradient(180deg, rgba(60, 59, 60, 0) 6%, rgba(0, 0, 0, 0.812762605) 100%);
}
.App .section-title {
  text-transform: uppercase;
  text-align: center;
  padding: 2vh 0;
  font-size: 40px;
}
.App .landing-wrap {
  margin: auto;
}
.App .landing-wrap .landing-intro-wrap {
  width: 85vw;
  margin: auto;
  padding: 4vh 0;
}
.App .landing-wrap .landing-intro-wrap .photo-wrap {
  display: none;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body {
  margin: 0 5vw;
  padding: 2.5vh 2vw 0 0;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
  position: relative;
  z-index: 999;
  margin: 0 3vw;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter {
  user-select: none;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.1s ease-out;
  position: relative;
  z-index: 999;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter:hover {
  transform: scale(1.6);
  transition: transform 0.25s ease-out;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter.enlarging {
  animation: enlargeLetter 0.5s ease-in-out;
}
@keyframes enlargeLetter {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  to {
    transform: scale(1);
  }
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body ul {
  width: 70%;
  margin: auto;
  margin-top: 3vh;
  direction: rtl;
  text-align: left;
  font-size: 22.4px;
  line-height: 1.5;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar {
  text-align: center;
  font-style: italic;
  margin: 7.5vh auto 2.5vh auto;
}
.App .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar a {
  text-decoration: none;
}
.App .landing-wrap #leave-landing-button {
  width: 28px;
  margin-left: calc(50vw - 28px);
  margin-top: 10vh;
  font-size: 26.4px;
}
.App .about-me-wrap {
  margin: 0 1.5vw;
}
.App .about-me-wrap .about-me-description {
  width: 83%;
  margin-top: 4vh;
  margin-right: 5vw;
  margin-left: auto;
  padding: 5vh 2vw 7.5vh 2vw;
  text-align: right;
}
.App .about-me-wrap .about-me-description .title {
  font-size: 24px;
  margin-bottom: 1.5vh;
}
.App .about-me-wrap .about-me-description .bio {
  line-height: 1.5;
  font-size: 20px;
  width: 105%;
  position: relative;
  right: 5%;
}
.App .about-me-wrap .about-me-pics {
  width: 85%;
  max-width: 700px;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.App .about-me-wrap .about-me-pics img {
  width: 50vw;
  max-width: 350px;
  height: auto;
}
.App .about-me-wrap .about-me-pics img:first-child {
  align-self: flex-end;
  transform: rotate(6.5deg);
}
.App .about-me-wrap .about-me-pics img:nth-child(2) {
  transform: rotate(-5.5deg);
  position: relative;
  bottom: 5vh;
}
.App .services-wrap {
  margin: 0 auto;
}
.App .services-wrap .services-gallery-wrap {
  max-width: 100vw;
  display: flex;
  overflow-y: overlay;
  /* Width */
  /* Track */
  /* Handle */
}
.App .services-wrap .services-gallery-wrap .service-wrap {
  overflow: hidden;
  flex-shrink: 0;
  height: 71.5vh;
  width: 72.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 8.5vh;
  position: relative;
}
.App .services-wrap .services-gallery-wrap .service-wrap .service-background {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  transition: width 1s ease-in-out;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap {
  z-index: 100;
  transition: opacity 0.25s ease-in, visibility 1s ease-in;
  width: 80%;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .number {
  font-size: 36.8px;
  margin-right: 8px;
  text-align: right;
  position: relative;
  top: 21.6px;
}
.App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .title {
  text-transform: capitalize;
  font-size: 24.8px;
  padding: 12px 0;
  padding-right: 24px;
  text-align: right;
  max-width: 249.92px;
  margin-left: auto;
}
.App .services-wrap .services-gallery-wrap .service-wrap .service-description {
  overflow-y: auto;
  z-index: 100;
  transition: opacity 0.25s ease-out, transform 0.5s ease-out;
  transform: scale(0.85);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 5%;
  right: 5%;
  padding: 15% 2% 15% 2%;
  text-align: center;
}
.App .services-wrap .services-gallery-wrap .service-wrap .service-description .title {
  font-size: 24.8px;
}
.App .services-wrap .services-gallery-wrap .service-wrap .service-description .description {
  margin-top: 5%;
  font-size: 20px;
  padding: 0 3%;
}
.App .services-wrap .services-gallery-wrap .service-wrap:hover .service-background {
  width: 102.5%;
  transition: width 1s ease-in-out;
}
.App .services-wrap .services-gallery-wrap .service-wrap:hover .title-wrap {
  transition: opacity 0.25s ease-out, visibility 1s ease-out;
  visibility: hidden;
  opacity: 0;
}
.App .services-wrap .services-gallery-wrap .service-wrap:hover .service-description {
  transition: visibility 1s ease-in, opacity 0.75s ease-in, transform 0.5s ease-in;
  transform: scale(1);
  visibility: initial !important;
  opacity: 1;
}
.App .services-wrap .services-gallery-wrap .service-wrap:last-child .title-wrap {
  display: none;
}
.App .services-wrap .services-gallery-wrap .service-wrap:last-child .service-description {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.App .services-wrap .services-gallery-wrap .service-wrap:last-child:hover .service-background {
  width: 100%;
  height: 100%;
}
.App .services-wrap .services-gallery-wrap::-webkit-scrollbar {
  width: 50%;
}
.App .services-wrap .services-gallery-wrap::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.5137254902);
}
.App .services-wrap .services-gallery-wrap::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.663);
  border: 1px solid rgba(50, 50, 50, 0.6392156863);
  border-radius: 4px;
}
.App .services-wrap .services-reach-out {
  margin-bottom: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw;
}
.App .services-wrap .services-reach-out p {
  font-size: 18.4px;
  text-align: center;
}
.App .services-wrap .services-reach-out .contact-btn {
  flex-basis: 70%;
  font-size: 17.6px;
  border-radius: 16px;
  padding-top: 8.8px;
  padding-bottom: 8.8px;
}
.App .services-wrap .services-reach-out .contact-btn span {
  margin: 0 !important;
  margin-right: 4px !important;
}
.App .services-wrap .services-reach-out .contact-btn .arrow {
  font-size: 12px;
}
.App .gallery-wrap {
  width: 90vw;
  margin: 10vh auto;
}
.App .gallery-wrap .gallery-gate {
  position: relative;
  bottom: 1vh;
  display: flex;
  flex-direction: column;
}
.App .gallery-wrap .gallery-gate .row-img {
  display: flex;
  justify-content: space-between;
}
.App .gallery-wrap .gallery-gate .row-img div {
  height: fit-content;
}
.App .gallery-wrap .gallery-gate .row-img div img {
  width: 35vw;
}
.App .gallery-wrap .gallery-gate .row-img:first-child div:first-child {
  transform: rotate(-5deg);
}
.App .gallery-wrap .gallery-gate .row-img:first-child div:nth-child(2) {
  position: relative;
  top: 5vw;
  transform: rotate(9.5deg);
}
.App .gallery-wrap .gallery-gate .row-img:nth-child(3) {
  margin-top: 2vh;
}
.App .gallery-wrap .gallery-gate .row-img:nth-child(3) div:first-child {
  transform: rotate(5deg);
}
.App .gallery-wrap .gallery-gate .row-img:nth-child(3) div:nth-child(2) {
  transform: rotate(-7.5deg);
}
.App .gallery-wrap .gallery-gate .row-btn {
  text-align: center;
}
.App .gallery-wrap .gallery-gate .row-btn button {
  font-size: 24px;
  padding: 12px 28px;
  position: relative;
  z-index: 999;
}
.App .gallery-wrap .wrap {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
}
.App .gallery-wrap .wrap video {
  display: none;
  flex-basis: 50%;
  height: 100vh;
  width: 35vw;
  opacity: 0.75;
  object-fit: cover;
}
.App .gallery-wrap .wrap .expanded-gallery {
  background-color: rgba(11, 11, 11, 0.855);
  padding: 1vh 3vw;
  width: 100%;
  min-height: 98vh;
}
.App .gallery-wrap .wrap .expanded-gallery .carousel-root {
  margin-top: 15%;
}
.App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide {
  margin: auto;
}
.App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div img, .App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div video {
  max-height: 45vh;
  max-width: 60vw;
  object-fit: contain;
}
.App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div video {
  width: 90%;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery::-webkit-scrollbar-track {
  border-radius: 16px;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery > div {
  justify-content: center;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile {
  margin: 0.5vh 4px !important;
  max-width: 80px !important;
  max-height: 80px !important;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile img {
  margin: 0 !important;
  max-width: 80px !important;
  max-height: 80px !important;
  object-fit: cover !important;
  cursor: none !important;
}
.App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile .ReactGridGallery_tile-viewport {
  height: 100% !important;
  width: 100% !important;
}
.App .gallery-wrap .wrap .expanded-gallery #collapse-gallery {
  font-size: 28px;
  position: relative;
  right: 1.5vw;
  margin-bottom: 1.5vh;
}
.App .contact-wrap {
  margin: 0 auto;
}
.App .contact-wrap form {
  padding: 16px 4px;
}
.App .contact-wrap form .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0;
}
.App .contact-wrap form .row .input-wrap {
  display: flex;
  flex-direction: column;
}
.App .contact-wrap form .row .input-wrap label {
  font-size: 20px;
  margin-left: 12px;
}
.App .contact-wrap form .row .input-wrap input, .App .contact-wrap form .row .input-wrap textarea {
  font-size: 20px;
  padding: 7.2px 5%;
}
.App .contact-wrap form .row.row-name p {
  margin: 0 8px;
  font-size: 20px;
  text-align: right;
}
.App .contact-wrap form .row.row-name .input-wrap {
  width: 100%;
}
.App .contact-wrap form .row.row-method .input-wrap input {
  width: 90%;
}
.App .contact-wrap form .row.row-method p {
  font-size: 21.6px;
  margin: 0 20px;
}
.App .contact-wrap form .row.row-inquiry {
  width: 100%;
}
.App .contact-wrap form .row.row-inquiry .textarea-wrap {
  width: 100%;
}
.App .contact-wrap form .row.row-inquiry .textarea-wrap textarea {
  height: 80px;
  resize: none;
}
.App .contact-wrap form .row.row-submit {
  justify-content: flex-end;
}
.App .contact-wrap form .row.row-submit button {
  font-size: 20px;
  width: 160px;
  padding: 5.6px 0;
  border-radius: 16px;
}
.App .contact-wrap .contact-direct {
  padding: 16px 20px;
}
.App .contact-wrap .contact-direct .method {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.App .contact-wrap .contact-direct .method i {
  font-size: 48px;
}
.App .contact-wrap .contact-direct .method a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}
.App .contact-wrap .contact-direct .links {
  width: 90%;
  margin: auto;
  margin-top: 24px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}
.App .contact-wrap .contact-direct .links i {
  font-size: 44px;
  margin: 0 8px;
}

@media (min-width: 780px) {
  body {
    overflow-y: hidden;
  }

  header {
    height: 4.3vh;
    max-height: 50px;
    min-height: 40px;
  }
  header .tools {
    margin-right: 0 !important;
    margin-left: auto;
  }
  header .tools .theme-selector-toggle {
    margin-right: 0 !important;
    font-size: 17.6px !important;
  }
  header .tools .theme-selector-toggle .arrow {
    font-size: 8px !important;
  }
  header .tools .burger {
    display: none;
  }
  header nav {
    flex-basis: initial !important;
  }
  header nav a {
    margin: 0 7.2px;
    font-size: 16.8px !important;
  }
  header nav.hidden {
    display: initial !important;
  }

  .mobile-nav-wrap {
    display: none;
  }

  .direct-links {
    max-width: 5vw !important;
    flex-direction: column;
    padding: 8px 8.8px !important;
    bottom: initial !important;
    right: initial !important;
    left: 0;
    top: 25vh;
  }
  .direct-links i {
    margin: 5.6px 0 !important;
    font-size: 20px !important;
  }
  .direct-links i.fa-instagram {
    font-size: 22.4px !important;
  }

  .page-progress-wrap .progressBar-wrap {
    display: initial !important;
    width: 20vh !important;
    transform: rotate(90deg);
    bottom: initial !important;
    left: initial !important;
    right: calc(1vw - 10vh);
    top: 30vh;
  }
  .page-progress-wrap .page-progress-indicators {
    mix-blend-mode: difference;
    height: 19.5vh !important;
    width: initial !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: initial !important;
    left: initial !important;
    right: 2vw;
    top: 20.3vh;
    font-size: 16.8px !important;
  }
  .page-progress-wrap .page-progress-indicators a {
    text-decoration: none;
  }

  .fixed-address-bar {
    display: initial !important;
    mix-blend-mode: difference;
    margin: 0 !important;
    position: fixed;
    z-index: 1000;
    bottom: 0.5vh;
    left: 1vw;
    font-style: italic;
  }

  .section-title {
    font-size: 36px !important;
  }

  .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
    width: 75%;
    margin: auto !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body ul {
    width: 40% !important;
    margin-bottom: 4vh !important;
    text-align: center !important;
    font-size: 20px !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar {
    display: none;
    margin: 0 !important;
    position: fixed;
    z-index: 1000;
    bottom: 0.5vh;
    left: 1vw;
  }
  .landing-wrap #leave-landing-button {
    width: 29.6px !important;
    margin-left: calc(50vw - 29.6px) !important;
    margin-top: 15vh !important;
    font-size: 28px !important;
  }

  .about-me-wrap .about-me-pics {
    width: 75% !important;
  }
  .about-me-wrap .about-me-pics img {
    width: 40vw !important;
  }

  .services-wrap {
    margin-top: 0 !important;
    height: 92.7vh !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap {
    height: 83.7vh !important;
    width: 42.5vw !important;
    max-width: 500px;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description {
    left: 15% !important;
    right: 15% !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description .title {
    font-size: 28px !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description .description {
    font-size: 21.6px !important;
  }
  .services-wrap .services-reach-out {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw !important;
    margin-bottom: 0 !important;
  }
  .services-wrap .services-reach-out * {
    margin: 0 2vw;
  }
  .services-wrap .services-reach-out p {
    font-size: 24px !important;
    max-width: 300px;
  }
  .services-wrap .services-reach-out .contact-btn {
    font-size: 23.2px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    flex-basis: 50% !important;
    max-width: 250px;
    border-radius: 32px !important;
  }
  .services-wrap .services-reach-out .contact-btn i {
    margin: 0;
  }

  .gallery-wrap {
    width: 70vw !important;
  }
  .gallery-wrap .gallery-gate {
    max-width: 775px;
    margin: auto;
  }
  .gallery-wrap .gallery-gate .row-img img {
    max-width: 300px;
  }
  .gallery-wrap .gallery-gate .row-img:first-child img:first-child {
    transform: rotate(-5deg);
  }
  .gallery-wrap .gallery-gate .row-img:first-child img:nth-child(2) {
    transform: rotate(7.5deg);
  }
  .gallery-wrap .gallery-gate .row-img:nth-child(3) img:first-child {
    transform: rotate(5deg);
  }
  .gallery-wrap .gallery-gate .row-img:nth-child(3) img:nth-child(2) {
    transform: rotate(-7.5deg);
  }
  .gallery-wrap .gallery-gate .row-btn button {
    font-size: 28px !important;
    padding: 24px 64px !important;
  }
  .gallery-wrap .wrap video {
    display: initial !important;
  }
  .gallery-wrap .wrap .expanded-gallery {
    width: 60vw !important;
  }
  .gallery-wrap .wrap .expanded-gallery .ReactGridGallery_tile {
    max-width: 128px !important;
    max-height: 128px !important;
  }
  .gallery-wrap .wrap .expanded-gallery .ReactGridGallery_tile img {
    max-width: 128px !important;
    max-height: 128px !important;
  }

  .contact-wrap {
    width: 100vw !important;
    max-width: 1100px !important;
    padding: 5vh 0;
    margin: auto !important;
    max-width: 1200px;
    display: flex;
    justify-content: center !important;
  }
  .contact-wrap form {
    width: 110%;
    max-width: 650.08px;
    padding: 1vh 2vw !important;
    position: relative;
    left: -2vw;
  }
  .contact-wrap form .row .input-wrap label {
    font-size: 21.6px !important;
  }
  .contact-wrap form .row .input-wrap input, .contact-wrap form .row .input-wrap textarea {
    font-size: 21.6px !important;
  }
  .contact-wrap form .row.row-name p {
    max-width: 176px;
    font-size: 28px !important;
  }
  .contact-wrap form .row.row-method p {
    font-size: 23.2px !important;
  }
  .contact-wrap form .row.row-submit button {
    text-align: center;
    font-size: 21.6px !important;
    padding: 12px 0 !important;
    margin-top: 24px;
    width: 192px !important;
  }
  .contact-wrap .contact-direct {
    margin-top: 5vh;
  }
  .contact-wrap .contact-direct .method {
    margin-bottom: 3vh !important;
  }
  .contact-wrap .contact-direct .method i {
    font-size: 56px !important;
  }
  .contact-wrap .contact-direct .method a {
    font-size: 24px !important;
  }
  .contact-wrap .contact-direct .links {
    border-radius: 80px !important;
  }
  .contact-wrap .contact-direct .links i {
    font-size: 48px !important;
    margin: 0 16px !important;
  }
}
@media (min-width: 1000px) {
  header .logo a {
    font-size: 28px;
  }

  .section-title {
    display: none;
  }

  .landing-wrap .landing-intro-wrap {
    margin-top: 5% !important;
    position: relative;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body {
    width: 45vw !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
    width: 90% !important;
    font-size: 32px !important;
    margin: 0 1vw !important;
    text-align: right !important;
    justify-content: right !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line {
    justify-content: right !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body ul {
    width: 40%;
    margin: 3.5vh 7.5vw 15% 10% !important;
    text-align: right !important;
    font-size: 21.6px !important;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap {
    position: absolute;
    display: flex !important;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.main-theme-landing {
    transform: scaleX(-1);
    right: 1vw;
    bottom: 0;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.main-theme-landing img {
    width: 44vw;
    min-width: 450px;
    max-width: 616px;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.light-theme-landing {
    transform: scaleX(1) rotate(9deg);
    right: -2vw;
    bottom: -1vh;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.light-theme-landing img {
    width: 39vw;
    min-width: 450px;
    max-width: 616px;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.gold-theme-landing {
    transform: scaleX(-1) rotate(25deg);
    right: 1vw;
    bottom: 10vh;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.gold-theme-landing img {
    filter: drop-shadow(-4px 11px 19px black) saturate(0.55) contrast(1.15) !important;
    width: 44vw;
    min-width: 450px;
    max-width: 616px;
  }

  .about-me-wrap {
    padding: 3vh 2vw !important;
    margin: auto !important;
    width: 80vw;
    display: flex;
    align-items: center;
  }
  .about-me-wrap .about-me-description {
    width: 80% !important;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9vh !important;
    padding-bottom: 11.5vh !important;
  }
  .about-me-wrap .about-me-description .title {
    font-size: 31.2px !important;
    width: 110%;
    position: relative;
    right: 10%;
  }
  .about-me-wrap .about-me-description .bio {
    font-size: 23.2px !important;
    width: 120% !important;
    position: relative;
    right: 20% !important;
  }
  .about-me-wrap .about-me-pics {
    width: 100% !important;
  }
  .about-me-wrap .about-me-pics img {
    margin: 1.5vh 0;
    width: 23.5vw !important;
  }
}
@media (min-width: 1600px) {
  #root {
    min-height: 100vh;
  }

  .App {
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .App header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5vh 2vw;
    font-size: 28px;
  }
  .App header .tools {
    margin-right: 2vw;
    display: flex;
    align-items: center;
  }
  .App header .tools div, .App header .tools i {
    cursor: pointer;
  }
  .App header .tools .theme-selector-toggle {
    margin-right: 3vw;
    position: relative;
  }
  .App header .tools .theme-selector-toggle .arrow {
    font-size: 20px;
  }
  .App header .tools .theme-selector-toggle .theme-option-list {
    display: none;
    font-size: 24px;
    width: 120px;
    padding: 0 5px;
    border-radius: 10px;
    list-style-type: none;
    position: absolute;
    right: 0;
  }
  .App header .tools .theme-selector-toggle .theme-option-list li {
    margin: 0.5vh 5px;
    padding: 0.15vh 0;
  }
  .App header .tools .theme-selector-toggle.dropped .theme-option-list {
    display: block;
  }
  .App header .tools .burger {
    font-size: 35px;
  }
  .App header nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    text-align: center;
    font-size: 25px;
    padding: 1vh 2vw;
  }
  .App header nav a {
    text-decoration: none;
  }
  .App header nav.hidden {
    display: none;
  }
  .App .mobile-nav-wrap {
    height: 4.5vh;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .App .direct-links {
    z-index: 1000;
    max-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(2.25vh - 15px) 20px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .App .direct-links i {
    cursor: pointer;
    margin: 0 7px;
    font-size: 30px;
  }
  .App .page-progress-wrap {
    z-index: 1000;
  }
  .App .page-progress-wrap .progressBar-wrap {
    display: none;
    width: 50vw;
    height: 6px;
    position: fixed;
    bottom: 5.75vh;
    left: 3vw;
  }
  .App .page-progress-wrap .progressBar-wrap .progressBar {
    width: 16.67%;
    height: 6px;
  }
  .App .page-progress-wrap .page-progress-indicators {
    height: 4.5vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 3vw;
    font-size: 27px;
  }
  .App .page-progress-wrap .page-progress-indicators a {
    text-decoration: none;
  }
  .App .fixed-address-bar {
    display: none;
  }
  .App .next-page-link {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 25px);
    font-size: 50px;
    transform: scale(1);
    transition: transform 0.75s ease-out;
  }
  .App .next-page-link:hover {
    transform: scale(1.25);
    transition: transform 0.75s ease-in;
  }
  .App .bottom-gradient {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    background: linear-gradient(180deg, rgba(60, 59, 60, 0) 6%, rgba(0, 0, 0, 0.812762605) 100%);
  }
  .App .section-title {
    text-transform: uppercase;
    text-align: center;
    padding: 2vh 0;
    font-size: 50px;
  }
  .App .landing-wrap {
    margin: auto;
  }
  .App .landing-wrap .landing-intro-wrap {
    width: 85vw;
    margin: auto;
    padding: 4vh 0;
  }
  .App .landing-wrap .landing-intro-wrap .photo-wrap {
    display: none;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body {
    margin: 0 5vw;
    padding: 2.5vh 2vw 0 0;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
    position: relative;
    z-index: 999;
    margin: 0 3vw;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter {
    user-select: none;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.1s ease-out;
    position: relative;
    z-index: 999;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter:hover {
    transform: scale(1.6);
    transition: transform 0.25s ease-out;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line .letter.enlarging {
    animation: enlargeLetter 0.5s ease-in-out;
  }
  @keyframes enlargeLetter {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.6);
    }
    to {
      transform: scale(1);
    }
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body ul {
    width: 70%;
    margin: auto;
    margin-top: 3vh;
    direction: rtl;
    text-align: left;
    font-size: 28px;
    line-height: 1.5;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar {
    text-align: center;
    font-style: italic;
    margin: 7.5vh auto 2.5vh auto;
  }
  .App .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar a {
    text-decoration: none;
  }
  .App .landing-wrap #leave-landing-button {
    width: 35px;
    margin-left: calc(50vw - 35px);
    margin-top: 10vh;
    font-size: 33px;
  }
  .App .about-me-wrap {
    margin: 0 1.5vw;
  }
  .App .about-me-wrap .about-me-description {
    width: 83%;
    margin-top: 4vh;
    margin-right: 5vw;
    margin-left: auto;
    padding: 5vh 2vw 7.5vh 2vw;
    text-align: right;
  }
  .App .about-me-wrap .about-me-description .title {
    font-size: 30px;
    margin-bottom: 1.5vh;
  }
  .App .about-me-wrap .about-me-description .bio {
    line-height: 1.5;
    font-size: 25px;
    width: 105%;
    position: relative;
    right: 5%;
  }
  .App .about-me-wrap .about-me-pics {
    width: 85%;
    max-width: 700px;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }
  .App .about-me-wrap .about-me-pics img {
    width: 50vw;
    max-width: 350px;
    height: auto;
  }
  .App .about-me-wrap .about-me-pics img:first-child {
    align-self: flex-end;
    transform: rotate(6.5deg);
  }
  .App .about-me-wrap .about-me-pics img:nth-child(2) {
    transform: rotate(-5.5deg);
    position: relative;
    bottom: 5vh;
  }
  .App .services-wrap {
    margin: 0 auto;
  }
  .App .services-wrap .services-gallery-wrap {
    max-width: 100vw;
    display: flex;
    overflow-y: overlay;
    /* Width */
    /* Track */
    /* Handle */
  }
  .App .services-wrap .services-gallery-wrap .service-wrap {
    overflow: hidden;
    flex-shrink: 0;
    height: 71.5vh;
    width: 72.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 8.5vh;
    position: relative;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .service-background {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    transition: width 1s ease-in-out;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .title-wrap {
    z-index: 100;
    transition: opacity 0.25s ease-in, visibility 1s ease-in;
    width: 80%;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .number {
    font-size: 46px;
    margin-right: 10px;
    text-align: right;
    position: relative;
    top: 27px;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .title-wrap .title {
    text-transform: capitalize;
    font-size: 31px;
    padding: 15px 0;
    padding-right: 30px;
    text-align: right;
    max-width: 312.4px;
    margin-left: auto;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .service-description {
    overflow-y: auto;
    z-index: 100;
    transition: opacity 0.25s ease-out, transform 0.5s ease-out;
    transform: scale(0.85);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 5%;
    right: 5%;
    padding: 15% 2% 15% 2%;
    text-align: center;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .service-description .title {
    font-size: 31px;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap .service-description .description {
    margin-top: 5%;
    font-size: 25px;
    padding: 0 3%;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:hover .service-background {
    width: 102.5%;
    transition: width 1s ease-in-out;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:hover .title-wrap {
    transition: opacity 0.25s ease-out, visibility 1s ease-out;
    visibility: hidden;
    opacity: 0;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:hover .service-description {
    transition: visibility 1s ease-in, opacity 0.75s ease-in, transform 0.5s ease-in;
    transform: scale(1);
    visibility: initial !important;
    opacity: 1;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:last-child .title-wrap {
    display: none;
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:last-child .service-description {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .App .services-wrap .services-gallery-wrap .service-wrap:last-child:hover .service-background {
    width: 100%;
    height: 100%;
  }
  .App .services-wrap .services-gallery-wrap::-webkit-scrollbar {
    width: 50%;
  }
  .App .services-wrap .services-gallery-wrap::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.5137254902);
  }
  .App .services-wrap .services-gallery-wrap::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.663);
    border: 1px solid rgba(50, 50, 50, 0.6392156863);
    border-radius: 5px;
  }
  .App .services-wrap .services-reach-out {
    margin-bottom: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
  }
  .App .services-wrap .services-reach-out p {
    font-size: 23px;
    text-align: center;
  }
  .App .services-wrap .services-reach-out .contact-btn {
    flex-basis: 70%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .App .services-wrap .services-reach-out .contact-btn span {
    margin: 0 !important;
    margin-right: 5px !important;
  }
  .App .services-wrap .services-reach-out .contact-btn .arrow {
    font-size: 15px;
  }
  .App .gallery-wrap {
    width: 90vw;
    margin: 10vh auto;
  }
  .App .gallery-wrap .gallery-gate {
    position: relative;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
  }
  .App .gallery-wrap .gallery-gate .row-img {
    display: flex;
    justify-content: space-between;
  }
  .App .gallery-wrap .gallery-gate .row-img div {
    height: fit-content;
  }
  .App .gallery-wrap .gallery-gate .row-img div img {
    width: 35vw;
  }
  .App .gallery-wrap .gallery-gate .row-img:first-child div:first-child {
    transform: rotate(-5deg);
  }
  .App .gallery-wrap .gallery-gate .row-img:first-child div:nth-child(2) {
    position: relative;
    top: 5vw;
    transform: rotate(9.5deg);
  }
  .App .gallery-wrap .gallery-gate .row-img:nth-child(3) {
    margin-top: 2vh;
  }
  .App .gallery-wrap .gallery-gate .row-img:nth-child(3) div:first-child {
    transform: rotate(5deg);
  }
  .App .gallery-wrap .gallery-gate .row-img:nth-child(3) div:nth-child(2) {
    transform: rotate(-7.5deg);
  }
  .App .gallery-wrap .gallery-gate .row-btn {
    text-align: center;
  }
  .App .gallery-wrap .gallery-gate .row-btn button {
    font-size: 30px;
    padding: 15px 35px;
    position: relative;
    z-index: 999;
  }
  .App .gallery-wrap .wrap {
    display: flex;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
  }
  .App .gallery-wrap .wrap video {
    display: none;
    flex-basis: 50%;
    height: 100vh;
    width: 35vw;
    opacity: 0.75;
    object-fit: cover;
  }
  .App .gallery-wrap .wrap .expanded-gallery {
    background-color: rgba(11, 11, 11, 0.855);
    padding: 1vh 3vw;
    width: 100%;
    min-height: 98vh;
  }
  .App .gallery-wrap .wrap .expanded-gallery .carousel-root {
    margin-top: 15%;
  }
  .App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide {
    margin: auto;
  }
  .App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div img, .App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div video {
    max-height: 45vh;
    max-width: 60vw;
    object-fit: contain;
  }
  .App .gallery-wrap .wrap .expanded-gallery .carousel-root .slide div video {
    width: 90%;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery {
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery > div {
    justify-content: center;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile {
    margin: 0.5vh 5px !important;
    max-width: 100px !important;
    max-height: 100px !important;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile img {
    margin: 0 !important;
    max-width: 100px !important;
    max-height: 100px !important;
    object-fit: cover !important;
    cursor: none !important;
  }
  .App .gallery-wrap .wrap .expanded-gallery .ReactGridGallery .ReactGridGallery_tile .ReactGridGallery_tile-viewport {
    height: 100% !important;
    width: 100% !important;
  }
  .App .gallery-wrap .wrap .expanded-gallery #collapse-gallery {
    font-size: 35px;
    position: relative;
    right: 1.5vw;
    margin-bottom: 1.5vh;
  }
  .App .contact-wrap {
    margin: 0 auto;
  }
  .App .contact-wrap form {
    padding: 20px 5px;
  }
  .App .contact-wrap form .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
  }
  .App .contact-wrap form .row .input-wrap {
    display: flex;
    flex-direction: column;
  }
  .App .contact-wrap form .row .input-wrap label {
    font-size: 25px;
    margin-left: 15px;
  }
  .App .contact-wrap form .row .input-wrap input, .App .contact-wrap form .row .input-wrap textarea {
    font-size: 25px;
    padding: 9px 5%;
  }
  .App .contact-wrap form .row.row-name p {
    margin: 0 10px;
    font-size: 25px;
    text-align: right;
  }
  .App .contact-wrap form .row.row-name .input-wrap {
    width: 100%;
  }
  .App .contact-wrap form .row.row-method .input-wrap input {
    width: 90%;
  }
  .App .contact-wrap form .row.row-method p {
    font-size: 27px;
    margin: 0 25px;
  }
  .App .contact-wrap form .row.row-inquiry {
    width: 100%;
  }
  .App .contact-wrap form .row.row-inquiry .textarea-wrap {
    width: 100%;
  }
  .App .contact-wrap form .row.row-inquiry .textarea-wrap textarea {
    height: 100px;
    resize: none;
  }
  .App .contact-wrap form .row.row-submit {
    justify-content: flex-end;
  }
  .App .contact-wrap form .row.row-submit button {
    font-size: 25px;
    width: 200px;
    padding: 7px 0;
    border-radius: 20px;
  }
  .App .contact-wrap .contact-direct {
    padding: 20px 25px;
  }
  .App .contact-wrap .contact-direct .method {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .App .contact-wrap .contact-direct .method i {
    font-size: 60px;
  }
  .App .contact-wrap .contact-direct .method a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 25px;
  }
  .App .contact-wrap .contact-direct .links {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  .App .contact-wrap .contact-direct .links i {
    font-size: 55px;
    margin: 0 10px;
  }

  header {
    height: 4.3vh;
    max-height: 50px;
    min-height: 40px;
  }
  header .tools {
    margin-right: 0 !important;
    margin-left: auto;
  }
  header .tools .theme-selector-toggle {
    margin-right: 0 !important;
    font-size: 22px !important;
  }
  header .tools .theme-selector-toggle .arrow {
    font-size: 10px !important;
  }
  header .tools .burger {
    display: none;
  }
  header nav {
    flex-basis: initial !important;
  }
  header nav a {
    margin: 0 9px;
    font-size: 21px !important;
  }
  header nav.hidden {
    display: initial !important;
  }

  .mobile-nav-wrap {
    display: none;
  }

  .direct-links {
    max-width: 5vw !important;
    flex-direction: column;
    padding: 10px 11px !important;
    bottom: initial !important;
    right: initial !important;
    left: 0;
    top: 25vh;
  }
  .direct-links i {
    margin: 7px 0 !important;
    font-size: 25px !important;
  }
  .direct-links i.fa-instagram {
    font-size: 28px !important;
  }

  .page-progress-wrap .progressBar-wrap {
    display: initial !important;
    width: 20vh !important;
    transform: rotate(90deg);
    bottom: initial !important;
    left: initial !important;
    right: calc(1vw - 10vh);
    top: 30vh;
  }
  .page-progress-wrap .page-progress-indicators {
    mix-blend-mode: difference;
    height: 19.5vh !important;
    width: initial !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: initial !important;
    left: initial !important;
    right: 2vw;
    top: 20.3vh;
    font-size: 21px !important;
  }
  .page-progress-wrap .page-progress-indicators a {
    text-decoration: none;
  }

  .fixed-address-bar {
    display: initial !important;
    mix-blend-mode: difference;
    margin: 0 !important;
    position: fixed;
    z-index: 1000;
    bottom: 0.5vh;
    left: 1vw;
    font-style: italic;
  }

  .section-title {
    font-size: 45px !important;
  }

  .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
    width: 75%;
    margin: auto !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body ul {
    width: 40% !important;
    margin-bottom: 4vh !important;
    text-align: center !important;
    font-size: 25px !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body .address-bar {
    display: none;
    margin: 0 !important;
    position: fixed;
    z-index: 1000;
    bottom: 0.5vh;
    left: 1vw;
  }
  .landing-wrap #leave-landing-button {
    width: 37px !important;
    margin-left: calc(50vw - 37px) !important;
    margin-top: 15vh !important;
    font-size: 35px !important;
  }

  .about-me-wrap .about-me-pics {
    width: 75% !important;
  }
  .about-me-wrap .about-me-pics img {
    width: 40vw !important;
  }

  .services-wrap {
    margin-top: 0 !important;
    height: 92.7vh !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap {
    height: 83.7vh !important;
    width: 42.5vw !important;
    max-width: 500px;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description {
    left: 15% !important;
    right: 15% !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description .title {
    font-size: 35px !important;
  }
  .services-wrap .services-gallery-wrap .service-wrap .service-description .description {
    font-size: 27px !important;
  }
  .services-wrap .services-reach-out {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw !important;
    margin-bottom: 0 !important;
  }
  .services-wrap .services-reach-out * {
    margin: 0 2vw;
  }
  .services-wrap .services-reach-out p {
    font-size: 30px !important;
    max-width: 375px;
  }
  .services-wrap .services-reach-out .contact-btn {
    font-size: 29px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    flex-basis: 50% !important;
    max-width: 250px;
    border-radius: 40px !important;
  }
  .services-wrap .services-reach-out .contact-btn i {
    margin: 0;
  }

  .gallery-wrap {
    width: 70vw !important;
  }
  .gallery-wrap .gallery-gate {
    max-width: 775px;
    margin: auto;
  }
  .gallery-wrap .gallery-gate .row-img img {
    max-width: 300px;
  }
  .gallery-wrap .gallery-gate .row-img:first-child img:first-child {
    transform: rotate(-5deg);
  }
  .gallery-wrap .gallery-gate .row-img:first-child img:nth-child(2) {
    transform: rotate(7.5deg);
  }
  .gallery-wrap .gallery-gate .row-img:nth-child(3) img:first-child {
    transform: rotate(5deg);
  }
  .gallery-wrap .gallery-gate .row-img:nth-child(3) img:nth-child(2) {
    transform: rotate(-7.5deg);
  }
  .gallery-wrap .gallery-gate .row-btn button {
    font-size: 35px !important;
    padding: 30px 80px !important;
  }
  .gallery-wrap .wrap video {
    display: initial !important;
  }
  .gallery-wrap .wrap .expanded-gallery {
    width: 60vw !important;
  }
  .gallery-wrap .wrap .expanded-gallery .ReactGridGallery_tile {
    max-width: 160px !important;
    max-height: 160px !important;
  }
  .gallery-wrap .wrap .expanded-gallery .ReactGridGallery_tile img {
    max-width: 160px !important;
    max-height: 160px !important;
  }

  .contact-wrap {
    width: 100vw !important;
    max-width: 1375px !important;
    padding: 5vh 0;
    margin: auto !important;
    max-width: 1500px;
    display: flex;
    justify-content: center !important;
  }
  .contact-wrap form {
    width: 110%;
    max-width: 812.6px;
    padding: 1vh 2vw !important;
    position: relative;
    left: -2vw;
  }
  .contact-wrap form .row .input-wrap label {
    font-size: 27px !important;
  }
  .contact-wrap form .row .input-wrap input, .contact-wrap form .row .input-wrap textarea {
    font-size: 27px !important;
  }
  .contact-wrap form .row.row-name p {
    max-width: 220px;
    font-size: 35px !important;
  }
  .contact-wrap form .row.row-method p {
    font-size: 29px !important;
  }
  .contact-wrap form .row.row-submit button {
    text-align: center;
    font-size: 27px !important;
    padding: 15px 0 !important;
    margin-top: 30px;
    width: 240px !important;
  }
  .contact-wrap .contact-direct {
    margin-top: 5vh;
  }
  .contact-wrap .contact-direct .method {
    margin-bottom: 3vh !important;
  }
  .contact-wrap .contact-direct .method i {
    font-size: 70px !important;
  }
  .contact-wrap .contact-direct .method a {
    font-size: 30px !important;
  }
  .contact-wrap .contact-direct .links {
    border-radius: 100px !important;
  }
  .contact-wrap .contact-direct .links i {
    font-size: 60px !important;
    margin: 0 20px !important;
  }

  header .logo a {
    font-size: 35px;
  }

  .section-title {
    display: none;
  }

  .landing-wrap .landing-intro-wrap {
    margin-top: 5% !important;
    position: relative;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body {
    width: 45vw !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
    width: 90% !important;
    font-size: 40px !important;
    margin: 0 1vw !important;
    text-align: right !important;
    justify-content: right !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body h2 .line {
    justify-content: right !important;
  }
  .landing-wrap .landing-intro-wrap .landing-intro-body ul {
    width: 40%;
    margin: 3.5vh 7.5vw 15% 10% !important;
    text-align: right !important;
    font-size: 27px !important;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap {
    position: absolute;
    display: flex !important;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.main-theme-landing {
    transform: scaleX(-1);
    right: 1vw;
    bottom: 0;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.main-theme-landing img {
    width: 44vw;
    min-width: 450px;
    max-width: 770px;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.light-theme-landing {
    transform: scaleX(1) rotate(9deg);
    right: -2vw;
    bottom: -1vh;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.light-theme-landing img {
    width: 39vw;
    min-width: 450px;
    max-width: 770px;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.gold-theme-landing {
    transform: scaleX(-1) rotate(25deg);
    right: 1vw;
    bottom: 10vh;
  }
  .landing-wrap .landing-intro-wrap .photo-wrap.gold-theme-landing img {
    filter: drop-shadow(-4px 11px 19px black) saturate(0.55) contrast(1.15) !important;
    width: 44vw;
    min-width: 450px;
    max-width: 770px;
  }

  .about-me-wrap {
    padding: 3vh 2vw !important;
    margin: auto !important;
    width: 80vw;
    display: flex;
    align-items: center;
  }
  .about-me-wrap .about-me-description {
    width: 80% !important;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9vh !important;
    padding-bottom: 11.5vh !important;
  }
  .about-me-wrap .about-me-description .title {
    font-size: 39px !important;
    width: 110%;
    position: relative;
    right: 10%;
  }
  .about-me-wrap .about-me-description .bio {
    font-size: 29px !important;
    width: 120% !important;
    position: relative;
    right: 20% !important;
  }
  .about-me-wrap .about-me-pics {
    width: 100% !important;
  }
  .about-me-wrap .about-me-pics img {
    margin: 1.5vh 0;
    width: 23.5vw !important;
  }
}

/*# sourceMappingURL=layout.css.map */
