@font-face {
  font-family: Nickainley;
  src: url(./fonts//Nickainley-Normal.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./fonts/Lora.ttf);
}

#root {
  background-size: cover;
  background-attachment: fixed;
}

* {
    /* Width */
    &::-webkit-scrollbar {
      width: 0.5em;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #626060fd;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(55, 55, 55, 0.973);
      border: 1px solid #323232a3;
      border-radius: 4px;
    }
}

// animations
// @mixin breathingText($color, $glowColor) {
//   @keyframes breathingText {
//     from {
//       text-shadow: -1px -1px 8px $glowColor;
//     }
//     to {
//       text-shadow: -1px -1px 15px $glowColor;
//     }
//   };

//   animation: breathingText 2s alternate-reverse infinite;
// }
@mixin breathingText($color, $glowColor) {
  @keyframes breathingText {
    from {
      text-shadow: -1px -1px 8px $glowColor;
    }
    to {
      text-shadow: -1px -1px 15px $glowColor;
    }
  };

  animation: breathingText 2s alternate-reverse infinite;
}

@mixin breathingBorder($color, $glowColor) {
  @keyframes breathingBorder {
    from {
      box-shadow: 0 13px 10px -10px $glowColor;
    }
    to {
      box-shadow: 0 13px 10px -9px $glowColor;
    }
  };

  animation: breathingBorder 1s alternate-reverse infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// mixins
@mixin glowingBorder($color, $glowColor) {
  border-bottom: 2px solid $color;
  // box-shadow: 0 0 10px $glowColor;
  box-shadow: 0 13px 10px -10px $glowColor;

  // @include breathingBorder($color, $glowColor);
}

@mixin basicBorder {
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
}

@mixin glowingText($color, $glowColor) {
  color: $color;
  text-shadow: -1px -1px 10px $glowColor;

  // @include breathingText($color, $glowColor);
}

@mixin button($color, $glowColor, $iconColor, $backColor, $font) {
  background-color: $backColor;
  border: none;
  outline: none;

  span {
    font-family: $font;
    @include glowingText($color, $glowColor);
  }

  i {
    color: $iconColor;
  }
}

@mixin theme(/* fonts */ $logoFont, $mainFont, $tertiaryFont,
/* colors */ $mainBack, $secondBack, $mainFontColor, $secondFontColor, $borderColor, $borderGlowColor, $extraBorderGlowColor) {
  header {
    background-color: $mainBack;
    color: $secondFontColor;
    @include glowingBorder($borderColor, $borderGlowColor);

    .logo {
      font-family: $logoFont;
      a {
        color: $secondFontColor;
      }
    }

    .tools {
      .theme-selector-toggle {

        .theme-option-list {
          background-color: rgb(50, 50, 50);
          font-family: $mainFont;

          li {
            &.active {
              background-color: $mainBack;

              @include glowingText($mainFontColor, $borderGlowColor);
            }
          }
        }
      }
    }

    nav {
      a {
        font-family: $mainFont;
        color: $secondFontColor;

        &.active {
          @include glowingText($mainFontColor, $borderGlowColor);
          // text-decoration: underline;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .address-bar, .fixed-address-bar {
    mix-blend-mode: difference;

    a {
      font-family: $mainFont;
      color: $mainFontColor;
    }
  }

  // section title
  .section-title {
    font-family: $tertiaryFont;
    @include glowingText($mainFontColor, $borderGlowColor);
  }

  // landing
  .landing-wrap {

    .landing-intro-wrap {
      background-color: $mainBack;
      @include glowingBorder($borderColor, $borderGlowColor);

      .photo-wrap {
      }

      .landing-intro-body {
        background-color: $secondBack;
        @include basicBorder();
        color: $mainFontColor;

        h2 {
          font-family: $tertiaryFont;
          @include glowingText($mainFontColor, $borderGlowColor);
        }

        ul {
          font-family: $mainFont;
        }
      }
    }

    #leave-landing-button {
      background: none;
      border: none;
      outline: none;

      i {
        color: $mainFontColor;
      }
    }
  }

  //about me
  .about-me-wrap {
    background-color: $mainBack;
    @include basicBorder();
    @include glowingBorder($borderColor, $borderGlowColor);

    .about-me-description {
      background-color: $secondBack;
      @include basicBorder();

      .title {
        font-family: $tertiaryFont;
        @include glowingText($mainFontColor, $borderGlowColor);
      }

      .bio {
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }

    .about-me-pics {

      img {

        &:first-child {
        }

        &:nth-child(2) {
        }
      }
    }
  }

  // services
  .services-wrap {
    margin: 0 auto;

    .services-gallery-wrap {

      .service-wrap {

        .title-wrap {

          .number {
            font-family: $mainFont;
            font-weight: bold;
            color: $mainFontColor;
          }

          .title {
            font-family: $tertiaryFont;
            @include glowingText($mainFontColor, $extraBorderGlowColor);
            background-color: $secondBack;
            @include basicBorder();
            border-right: none;
          }

        }

        .service-description {
          background-color: $secondBack;
          @include basicBorder();

          .title {
            font-family: $tertiaryFont;
            color: $mainFontColor;
          }
          .description {
            font-family: $tertiaryFont;
            color: $mainFontColor;
          }
        }

      }
    }

    .services-reach-out {
      background-color: $secondBack;
      @include basicBorder();
      border-left: none;
      border-right: none;

      p {
        color: $mainFontColor;
        font-family: $tertiaryFont;
      }

      .contact-btn {
        // $color, $glowColor, $backColor, $font
        @include button($mainFontColor, $borderGlowColor, #fee8fb, #000000, $mainFont);

        .arrow {
        }
      }
    }
  }

  // gallery
  .gallery-wrap {
    background-color: $mainBack;

    .gallery-gate {

      .row-img {

        div {

          img {
            ::after {
              box-shadow: 0px 0px 0px 24px rgba(255,255,255,0.69) inset;
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              width: 100%;
            }
            &::after {
              box-shadow: 0px 0px 0px 24px rgba(255,255,255,0.69) inset;
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }

          &::after {
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.19) inset;
            content: '';
            display: block;
            height: 105%;
            position: absolute;
            top: -3.5%;
            left: -2.5%;
            width: 105%;
          }
        }
      }

      .row-btn {

        button {
          font-family: $mainFont;
          color: $mainFontColor;
          background-color: $secondBack;
          border: 0.5px solid white;
        }
      }
    }
  }

  // contact
  .contact-wrap {
    background-color: $secondBack;
    @include glowingBorder($borderColor, $borderGlowColor);

    form {
      background-color: $secondBack;
      @include basicBorder();

      .row {

        .input-wrap {

          label {
            font-family: $mainFont;
            color: $mainFontColor;
          }

          input, textarea {
            font-family: $mainFont;
            color: $mainFontColor;
            background-color: rgba(255, 255, 255, 0.27);
            border: none;
          }
        }

        &.row-name {
          p {
            font-family: $tertiaryFont;
            @include glowingText($mainFontColor, $extraBorderGlowColor);
          }
        }

        &.row-method {
          p {
            font-family: $mainFont;
            color: $mainFontColor;
          }
        }

        &.row-submit {
          button {
            @include button($mainFontColor, $extraBorderGlowColor, #fee8fb, #000000, $mainFont);
          }
        }
      }
    }

    .contact-direct {

      .method {
        i {
          color: $mainFontColor;
        }

        a {
          font-family: $tertiaryFont;
          @include glowingText($mainFontColor, $extraBorderGlowColor);
        }
      }

      .links {
        background-color: #000000aa;

        i {
          color: $mainFontColor;
        }
      }
    }
  }

  .direct-links {
    background-color: $secondBack;

    i {
      color: $mainFontColor;
    }
  }

  .mobile-nav-wrap {
    background-color: $secondBack;
  }

  .page-progress-wrap {

    .page-progress-indicators {
      a {
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }

    .progressBar-wrap {
      background-color: $mainBack;

      .progressBar {
        background-color: white;
      }
    }
  }

  .next-page-link {
    color: $mainFontColor;

    animation: fadeIn 2s linear;
  }

}

/* theme( $logoFont, $mainFont, $tertiaryFont,
  $mainBack, $secondBack, $mainFontColor, $secondFontColor, $borderColor, $borderGlowColor, $extraBorderGlowColor) */
#root {
  &.main-theme {
    background-image: url(../../public/assets/images/purpleBack.jpeg);
    .App {
      @include theme(Nickainley, Montserrat, Lora, /* colors */ #323232ae, #323232ae, #fff, #fff, #fff, rgb(249, 104, 239), rgb(249, 104, 239));
    }
  }
  &.light-theme {
    background-image: url(../../public/assets/images/lightBack.jpg);
    .App {
      @include theme(Nickainley, Montserrat, Lora, /* colors */ #ffffffae, #323232ae, #fff, rgb(0, 0, 0), #fff, rgb(42, 42, 42), rgb(249, 104, 239));

      .landing-wrap {

        .landing-intro-wrap {
          .landing-intro-body {
            h2 {
              animation: none!important;
            }
          }
        }
      }
    }
  }
}
