@font-face {
  font-family: Nickainley;
  src: url(./fonts//Nickainley-Normal.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat.ttf);
}
@font-face {
  font-family: Lora;
  src: url(./fonts/Lora.ttf);
}
#root {
  background-image: url(../../public/assets/images/test.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

* {
  /* Width */
  /* Track */
  /* Handle */
}
*::-webkit-scrollbar {
  width: 0.5em;
}
*::-webkit-scrollbar-track {
  background-color: rgba(98, 96, 96, 0.9921568627);
}
*::-webkit-scrollbar-thumb {
  background: rgba(55, 55, 55, 0.973);
  border: 1px solid rgba(50, 50, 50, 0.6392156863);
  border-radius: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App.main-theme header {
  background-color: rgba(50, 50, 50, 0.6823529412);
  color: #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  animation: breathingBorder 1s alternate-reverse infinite;
}
@keyframes breathingBorder {
  from {
    box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  }
  to {
    box-shadow: 0 13px 10px -9px rgb(249, 104, 239);
  }
}
.App.main-theme header .logo {
  font-family: Nickainley;
}
.App.main-theme header .logo a {
  color: #fff;
}
.App.main-theme header nav a {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .address-bar, .App.main-theme .fixed-address-bar {
  mix-blend-mode: difference;
}
.App.main-theme .address-bar a, .App.main-theme .fixed-address-bar a {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .section-title {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .landing-wrap .landing-intro-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border-bottom: 2px solid #fff;
  box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  animation: breathingBorder 1s alternate-reverse infinite;
}
@keyframes breathingBorder {
  from {
    box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  }
  to {
    box-shadow: 0 13px 10px -9px rgb(249, 104, 239);
  }
}
.App.main-theme .landing-wrap .landing-intro-wrap .landing-intro-body {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
  color: #fff;
}
.App.main-theme .landing-wrap .landing-intro-wrap .landing-intro-body h2 {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .landing-wrap .landing-intro-wrap .landing-intro-body ul {
  font-family: Montserrat;
}
.App.main-theme .landing-wrap #leave-landing-button {
  background: none;
  border: none;
  outline: none;
}
.App.main-theme .landing-wrap #leave-landing-button i {
  color: #fff;
}
.App.main-theme .about-me-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
  border-bottom: 2px solid #fff;
  box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  animation: breathingBorder 1s alternate-reverse infinite;
}
@keyframes breathingBorder {
  from {
    box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  }
  to {
    box-shadow: 0 13px 10px -9px rgb(249, 104, 239);
  }
}
.App.main-theme .about-me-wrap .about-me-description {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
}
.App.main-theme .about-me-wrap .about-me-description .title {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .about-me-wrap .about-me-description .bio {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .services-wrap {
  margin: 0 auto;
}
.App.main-theme .services-wrap .services-gallery-wrap .service-wrap .title-wrap .number {
  font-family: Montserrat;
  font-weight: bold;
  color: #fff;
}
.App.main-theme .services-wrap .services-gallery-wrap .service-wrap .title-wrap .title {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
  border-right: none;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .services-wrap .services-gallery-wrap .service-wrap .service-description {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
}
.App.main-theme .services-wrap .services-gallery-wrap .service-wrap .service-description .title {
  font-family: Lora;
  color: #fff;
}
.App.main-theme .services-wrap .services-gallery-wrap .service-wrap .service-description .description {
  font-family: Lora;
  color: #fff;
}
.App.main-theme .services-wrap .services-reach-out {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
  border-left: none;
  border-right: none;
}
.App.main-theme .services-wrap .services-reach-out p {
  color: #fff;
  font-family: Lora;
}
.App.main-theme .services-wrap .services-reach-out .contact-btn {
  background-color: #000000;
  border: none;
  outline: none;
}
.App.main-theme .services-wrap .services-reach-out .contact-btn span {
  font-family: Montserrat;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .services-wrap .services-reach-out .contact-btn i {
  color: #fee8fb;
}
.App.main-theme .gallery-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
}
.App.main-theme .gallery-wrap .gallery-gate .row-img div img ::after {
  box-shadow: 0px 0px 0px 24px rgba(255, 255, 255, 0.69) inset;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.App.main-theme .gallery-wrap .gallery-gate .row-img div img::after {
  box-shadow: 0px 0px 0px 24px rgba(255, 255, 255, 0.69) inset;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.App.main-theme .gallery-wrap .gallery-gate .row-img div::after {
  box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.19) inset;
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  top: -3.5%;
  left: -2.5%;
  width: 105%;
}
.App.main-theme .gallery-wrap .gallery-gate .row-btn button {
  font-family: Montserrat;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.5px solid white;
}
.App.main-theme .contact-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border-bottom: 2px solid #fff;
  box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  animation: breathingBorder 1s alternate-reverse infinite;
}
@keyframes breathingBorder {
  from {
    box-shadow: 0 13px 10px -10px rgb(249, 104, 239);
  }
  to {
    box-shadow: 0 13px 10px -9px rgb(249, 104, 239);
  }
}
.App.main-theme .contact-wrap form {
  background-color: rgba(50, 50, 50, 0.6823529412);
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
}
.App.main-theme .contact-wrap form .row .input-wrap label {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .contact-wrap form .row .input-wrap input, .App.main-theme .contact-wrap form .row .input-wrap textarea {
  font-family: Montserrat;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.27);
  border: none;
}
.App.main-theme .contact-wrap form .row.row-name p {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .contact-wrap form .row.row-method p {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .contact-wrap form .row.row-submit button {
  background-color: #000000;
  border: none;
  outline: none;
}
.App.main-theme .contact-wrap form .row.row-submit button span {
  font-family: Montserrat;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .contact-wrap form .row.row-submit button i {
  color: #fee8fb;
}
.App.main-theme .contact-wrap .contact-direct .method i {
  color: #fff;
}
.App.main-theme .contact-wrap .contact-direct .method a {
  font-family: Lora;
  color: #fff;
  text-shadow: -1px -1px 10px rgb(249, 104, 239);
  animation: breathingText 2s alternate-reverse infinite;
}
@keyframes breathingText {
  from {
    text-shadow: -1px -1px 8px rgb(249, 104, 239);
  }
  to {
    text-shadow: -1px -1px 15px rgb(249, 104, 239);
  }
}
.App.main-theme .contact-wrap .contact-direct .links {
  background-color: rgba(0, 0, 0, 0.6666666667);
}
.App.main-theme .contact-wrap .contact-direct .links i {
  color: #fff;
}
.App.main-theme .direct-links {
  background-color: rgba(50, 50, 50, 0.6823529412);
}
.App.main-theme .direct-links i {
  color: #fff;
}
.App.main-theme .mobile-nav-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
}
.App.main-theme .page-progress-wrap .page-progress-indicators a {
  font-family: Montserrat;
  color: #fff;
}
.App.main-theme .page-progress-wrap .progressBar-wrap {
  background-color: rgba(50, 50, 50, 0.6823529412);
}
.App.main-theme .page-progress-wrap .progressBar-wrap .progressBar {
  background-color: white;
}
.App.main-theme .next-page-link {
  color: #fff;
  animation: fadeIn 2s linear;
}

/*# sourceMappingURL=themes.css.map */
