@font-face {
  font-family: Nickainley;
  src: url(./fonts//Nickainley-Normal.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./fonts/Lora.ttf);
}

#root {
  background-image: url(../../public/assets/images/mockBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@mixin glowingBorder($color, $glowColor) {
  border-bottom: 2px solid $color;
  // box-shadow: 0 0 10px $glowColor;
  box-shadow: 0 13px 10px -10px $glowColor;
}

@mixin basicBorder {
  border: 0.15px dashed rgba(255, 255, 255, 0.447);
}

@mixin glowingText($color, $glowColor) {
  color: $color;
  text-shadow: -1px -1px 10px $glowColor;
}

@mixin button($color, $glowColor, $iconColor, $backColor, $font) {
  background-color: $backColor;
  border: none;
  outline: none;

  span {
    font-family: $font;
    @include glowingText($color, $glowColor);
  }

  i {
    color: $iconColor;
  }
}

@mixin theme(/* fonts */ $logoFont, $mainFont, $tertiaryFont,
/* colors */ $mainBack, $mainFontColor, $borderGlowColor) {
  header {
    background-color: $mainBack;
    color: $mainFontColor;
    @include glowingBorder($mainFontColor, $borderGlowColor);

    .logo {
      font-family: $logoFont;
      a {
        color: $mainFontColor;
      }
    }

    nav {
      a {
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }
  }

  // section title
  .section-title {
    font-family: $tertiaryFont;
    @include glowingText($mainFontColor, $borderGlowColor);
  }

  // landing
  .landing-wrap {

    .landing-intro-wrap {
      background-color: $mainBack;
      @include glowingBorder($mainFontColor, $borderGlowColor);

      .photo-wrap {
      }

      .landing-intro-body {
        background-color: $mainBack;
        @include basicBorder();
        color: $mainFontColor;

        h2 {
          font-family: $tertiaryFont;
          @include glowingText($mainFontColor, $borderGlowColor);
        }

        ul {
          font-family: $mainFont;
        }

        .address-bar {
          a {
            font-family: $mainFont;
            color: $mainFontColor;

          }
        }
      }
    }

    #leave-landing-button {
      background: none;
      border: none;
      outline: none;

      i {
        color: $mainFontColor;
      }
    }
  }

  //about me
  .about-me-wrap {
    background-color: $mainBack;
    @include basicBorder();
    @include glowingBorder($mainFontColor, $borderGlowColor);

    .about-me-description {
      background-color: $mainBack;
      @include basicBorder();

      .title {
        font-family: $tertiaryFont;
        @include glowingText($mainFontColor, $borderGlowColor);
      }

      .bio {
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }

    .about-me-pics {

      img {

        &:first-child {
        }

        &:nth-child(2) {
        }
      }
    }
  }

  // services
  .services-wrap {
    margin: 0 auto;

    .services-gallery-wrap {

      .service-wrap {

        .title-wrap {

          .number {
            font-family: $mainFont;
            font-weight: bold;
            color: $mainFontColor;
          }

          .title {
            font-family: $tertiaryFont;
            @include glowingText($mainFontColor, $borderGlowColor);
            background-color: $mainBack;
            @include basicBorder();
            border-right: none;
          }
        }
      }
    }

    .services-reach-out {
      background-color: $mainBack;
      @include basicBorder();
      border-left: none;
      border-right: none;

      p {
        color: $mainFontColor;
        font-family: $tertiaryFont;
      }

      .contact-btn {
        // $color, $glowColor, $backColor, $font
        @include button($mainFontColor, $borderGlowColor, #fee8fb, #000000, $mainFont);

        .arrow {
        }
      }
    }
  }

  .direct-links {
    background-color: $mainBack;

    i {
      color: $mainFontColor;
    }
  }

  .mobile-nav-wrap {
    background-color: $mainBack;
  }

  .page-progress-wrap {

    .page-progress-indicators {
      a {
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }

    .progressBar-wrap {
      background-color: $mainBack;

      .progressBar {
        background-color: white;
      }
    }
  }

}

.App {
  &.main-theme {
    @include theme(Nickainley, Montserrat, Lora, /* colors */ #323232ae, #fff, rgb(249, 104, 239));
  }
}